@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,300;1,600;1,900&display=swap');
:root {
  --default-layout-header-height: 64px;
  --default-layout-header-width: 1300px;
  --primary-color: #032541;
  --padding-page: 40px;
  --light-blue: rgb(1, 180, 228);
  --primary-logo-color: linear-gradient(
    to right,
    rgba(30, 213, 169, 1) 0%,
    rgba(1, 180, 228, 1) 100%
  );
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.5rem;
}
button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: #ffff;
  text-decoration: none;
}
ul {
  list-style: none;
}
