.selector {
  display: flex;
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  .item-select {
    position: absolute;
    height: 100%;
    left: 0;
    width: 45%;
    background-color: var(--primary-color);
    border-radius: 30px;
    transition: all 0.5s;
  }
  .item {
    cursor: pointer;
    z-index: 1;
    padding: 6px 18px;
    background-color: transparent;
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--primary-color);
  }
  .select {
    background: var(--primary-logo-color);
    background-clip: text;
    color: transparent;
  }
  &.linear {
    border-color: rgb(30, 213, 169);
    .item-select {
      background: var(--primary-logo-color);
    }
    .item {
      color: white;
    }
    .select {
      color: var(--primary-color);
    }
  }
}
