.scroller {
  padding: 20px 0px;
  position: relative;
  .inner {
    padding: 0 var(--padding-page);
    display: flex;
  }
  overflow-y: scroll;
  overflow-y: hidden;
  &::after {
    content: '';
    top: 0;
    position: absolute;
    width: 60px;
    height: 100%;
    right: 0;
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      #fff 100%
    );
  }
  &.scroll::after {
    display: none;
  }
  &::-webkit-scrollbar {
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ccc;
  }
}
